{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" type="image/png"  href="{% static 'todo/logo.png' %}">
    <title>Portal App PLN</title>
</head>
<body>


<nav class="navbar navbar-expand-md navbar-light bg-warning">
<div class="container">
    <a class="navbar-brand" href="#">
         <img src="{% static 'todo/logo.png' %}" width="30" height="30" class="d-inline-block align-top">
        <span>Portal App PLN</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">

                <li class="nav-item {{ current }}">
                    <a class="nav-link" href="{% url 'korporat' %}"><b>KORPORAT</b></a>
                </li>
                <li class="nav-item {{ completed }}">
                    <a class="nav-link" href="{% url 'pusdiklat' %}"><b>PUSDIKLAT</b></a>
                </li>
                <li class="nav-item {{ create }}">
                    <a class="nav-link" href="{% url 'pusertif' %}"><b>PUSERTIF</b></a>
                </li>
                <li class="nav-item {{ create }}">
                    <a class="nav-link" href="{% url 'puslitbang' %}"><b>PUSLITBANG</b></a>
                </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}"><b>admin</b></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/"><b>Todo App</b></a>
            </li> -->
        </ul>
    </div>
</div>
</nav>

<div class="container">
{% block content %}{% endblock %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{% static 'todo/js/jquery.min.js' %}"></script>
<script src="{% static 'todo/js/browser.min.js' %}"></script>
<script src="{% static 'todo/js/main.js' %}"></script>
</body>
</html>
