{% extends "portalapp/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-left">
  {% for app in apps %}
        <div class="col-md-3 text-center">
          <div class="list-group">
                  <a href="http://{{ app.link }}" target="_blank" class="list-group-item list-group-item-action "><b>{{ app.title }}</b></a>
          </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
